@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html, body{
    height: 100%;
    width: 100%;
}
:root{
    --textHoverColor: rgb(255, 122, 33);
    --btnColor: rgb(255, 38, 0);
    --bigTextColor: rgb(206, 0, 0);
    --pColor: rgb(80, 80, 80);
}
.page1{
    height: 100vh;
    width: 100%;
    position: relative;
}
header{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logoDiv{
    height: 120px;
    width: 120px;
    /* background-image: url(/imagesForWeb/burgerLogo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    cursor: pointer;
    /* border: 1px solid black; */
    border-radius: 50px;
    transition: all linear 0.3s;
}

header ul{
    display: flex;
    gap: 30px;
    margin-left: 150px;

}
header ul li a{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
    transition: all linear 0.2s;
}
header ul li a:hover{
    color: var(--textHoverColor);
}
header .logInOutDiv{
    display: flex;
    gap: 10px;
}
header .logInOutDiv button{
    height: 35px;
    width: 80px;
    border-radius: 15px;
    border: none;
    background-color: var(--btnColor);
    color: white;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    transition: all linear 0.2s;
    cursor: pointer;
}
header .logInOutDiv .signUpBtn{
    background-color: transparent;
    color: black;
    border: 2px solid var(--btnColor);
}
header .logInOutDiv button:hover{
    transform: translateY(-5px);
}
header i{
    font-size: 35px;
    transition: all linear 0.2s;
    cursor: pointer;
    display: none;
}
header i:hover{
    color: var(--bigTextColor);
    transform: translateX(-10px);
}
header .crossIcon{
    display: none;
}
.navSignUpInBox{
    position: absolute;
    height: 400px;
    width: 100%;
    border: 1px solid var(--btnColor);
    border-radius: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.404);
    backdrop-filter: blur(5px);
}
.navSignUpInBox ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
.navSignUpInBox ul li{
    height: 30px;
    width: 90px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--btnColor); */
    border: 2px solid var(--btnColor);
    font-family: 'Poppins';
    font-size: 12px;
    cursor: pointer;
    transition: all linear 0.2s;
}
.navSignUpInBox ul .homeBtn{
    background-color: var(--btnColor);
    a{
        color: white;
    }
}
.navSignUpInBox ul li:hover{
    background-color: var(--btnColor);
    a{
        color: white;
    }
}
.navSignUpInBox ul li a{
    color: black;
}
.navSignUpInBox .logInOutDiv button{
    height: 35px;
    width: 80px;
    border-radius: 15px;
    border: none;
    background-color: var(--btnColor);
    color: white;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    transition: all linear 0.2s;
    cursor: pointer;
    font-size: 12px;
}
.navSignUpInBox .logInOutDiv button:hover{
    transform: translateY(-5px);
    background-color: var(--btnColor);
    color: white;
}
.navSignUpInBox .logInOutDiv .signUpBtn{
    background-color: transparent;
    border: 2px solid var(--btnColor);
    color: black;
}
@media only screen and (max-width: 950px) {
    header ul{
        /* display: flex;
        gap: 30px; */
        margin-left: 0px;
    }
}

@media only screen and (max-width: 800px){
    header ul{
        display: none;
    }
    header .logInOutDiv{
        display: none;
    }
    header i{
        display: block;
    }
}




.page1HeroSection{
    width: 100%;
    padding: 0px 50px;
    display: flex;
}
.page1HeroSection .leftSidePage1{
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.page1HeroSection .leftSidePage1 .delivaryButtonDiv{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 40px;
    padding: 0px 5px;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.521);
    cursor: pointer;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 5px 5px 7px rgb(187, 186, 186);
}
.page1HeroSection .leftSidePage1 .delivaryButtonDiv p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.page1HeroSection .leftSidePage1 .delivaryButtonDiv .bikeLogoDiv{
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: aliceblue;
    transition: all linear 0.3s;
}
.page1HeroSection .leftSidePage1 .delivaryButtonDiv:hover{
    .bikeLogoDiv{
        transform: scale(1.9);
    }
}
.page1HeroSection .leftSidePage1 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 900;
}
.page1HeroSection .leftSidePage1 .order{
    display: flex;
    gap: 30px;
}
.page1HeroSection .leftSidePage1 .order button{
    padding: 15px 30px;
    border: none;
    background-color: var(--btnColor);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: all linear 0.2s;
}
.page1HeroSection .leftSidePage1 .order button:hover{
    background-color: rgb(219, 33, 0);
}
.page1HeroSection .leftSidePage1 .order .orderProcessDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color: transparent;
    border: 2px solid var(--btnColor);
    border-radius: 10px;
}
.page1HeroSection .leftSidePage1 .order .orderProcessDiv p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.page1HeroSection .leftSidePage1 .order .orderProcessDiv i{
    transition: all linear 0.2s;
    margin-right: 10px;
}
.page1HeroSection .leftSidePage1 .order .orderProcessDiv:hover{
    i{
        color: rgb(51, 201, 51);
        transform: scale(1.5);
    }
}




.page1HeroSection .rightSidePage2{
    width: 50%;
    background-image: url(/imagesForWeb/rightSideBg.png);
    background-size: cover;
    background-position: top;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.page1HeroSection .rightSidePage2 .burger1{
    width: 160px;
    height: 180px;
    background-color: rgba(255, 115, 0, 0.185);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative;
}
.page1HeroSection .rightSidePage2 .burger1 img{
    position: absolute;
    top: -40px;
    left: -30px;
}
.page1HeroSection .rightSidePage2 .burger1 h3{
    font-family: 'Poppins', sans-serif;
    color: var(--textHoverColor);
}
.page1HeroSection .rightSidePage2 .burger1 .goDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btnColor);
    width: 60px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
.page1HeroSection .rightSidePage2 .burger1 .goDiv i{
    font-size: 18px;
    transition: all linear 0.2s;
}
.page1HeroSection .rightSidePage2 .burger1 .goDiv:hover{
    i{
        color: white;
        transform: translateX(10px) scale(1.5);
    }
}
.page1HeroSection .rightSidePage2 .burger2{
    width: 160px;
    height: 180px;
    background-color: rgba(255, 115, 0, 0.185);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative;

}
.page1HeroSection .rightSidePage2 .burger2 img{
    position: absolute;
    top: -40px;
    left: -30px;
}
.page1HeroSection .rightSidePage2 .burger2 h3{
    font-family: 'Poppins', sans-serif;
    color: var(--textHoverColor);
}
.page1HeroSection .rightSidePage2 .burger2 .goDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btnColor);
    width: 60px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
.page1HeroSection .rightSidePage2 .burger2 .goDiv i{
    font-size: 18px;
    transition: all linear 0.2s;
}
.page1HeroSection .rightSidePage2 .burger2 .goDiv:hover{
    i{
        color: white;
        transform: translateX(10px) scale(1.5);
    }
}

@media only screen and (max-width: 850px){
    .page1HeroSection{
        width: 100%;
        /* padding: 0px 50px; */
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 100px;
    }
    .page1HeroSection .rightSidePage1{
        width: 100%;
        background-image: url(/imagesForWeb/rightSideBg.png);
        background-size: cover;
        background-position: top;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    .page1HeroSection .rightSidePage2{
        width: 100%;
        background-image: url(/imagesForWeb/rightSideBg.png);
        background-size: cover;
        background-position: top;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 70px;
    }
}
@media only screen and (max-width: 600px){
    .page1HeroSection .leftSidePage1 .order{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        /* border: 1px solid black; */
    }
    .page1HeroSection .leftSidePage1 .order button{
        /* padding: 0px 20px; */
        border: none;
        /* height: 30px; */
        width: 140px;
        background-color: var(--btnColor);
        border-radius: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: white;
        cursor: pointer;
        transition: all linear 0.2s;
    }
    .page1HeroSection .leftSidePage1 .order button:hover{
        background-color: rgb(219, 33, 0);
    }
    .page1HeroSection .leftSidePage1 .order .orderProcessDiv{
        display: flex;
        width: 140px;
        height: 50px;
        justify-content: center;
        align-items: center;
        /* padding: 10px 10px; */
        background-color: transparent;
        border: 2px solid var(--btnColor);
        border-radius: 10px;
    }
}